@import '../../styles/variables.scss';

.createNewCard {
  margin: 50px auto;
  padding: 30px;
  text-align: center;
  max-width: 50%;
  border: 1px solid black;
  box-shadow: 5px 5px;
  background-color: #eee;
}

.createNewCard input {
  display: block;
  margin: 10px auto;
  padding: 10px;
}

.createNewCard button {
  display: block;
  margin: 10px auto;
  margin-bottom: 110px;
}

.error {
  color: $mainColor;
}

.link {
  text-decoration: none;
  color: $mainColor;
}
