@import '../../styles/variables.scss';

.createNewCard {
  text-align: center;
  color: $mainColor;
}

.createNewCard input {
  display: block;
  margin: 10px auto;
  padding: 10px;
}

.createNewCard button {
  display: block;
  margin: 10px auto;
}
