@import '../../styles/variables.scss';

.createNewCard {
  text-align: center;
}

.createNewCard input {
  display: block;
  margin: 10px auto;
  padding: 10px;
}

.createNewCard button {
  display: block;
  margin: 10px auto;
  margin-bottom: 110px;
}

.error {
  color: red;
}

.link {
  text-decoration: none;
  color: $mainColor;
}
