.card {
  border: 1px solid black;
  box-shadow: 1px 2px;
  list-style-type: none;
}
.divImg {
  height: calc(450 / 310 * ((100vw - 100px) / 4));
  background-color: rgb(189, 73, 73);
  display: flex;
  align-items: center;
}
.img {
  width: 100%;
  object-position: center;
  object-fit: contain;
  width: calc(100% - 15px);
  padding: 6px;
  text-align: center;
}

.card a {
  text-decoration: none;
}

.card a:visited {
  color: rgb(189, 73, 73);
}

.card p,
.rating {
  text-align: center;
}

.pName {
  font-weight: bold;
}

.pDesc {
  cursor: pointer;
  color: rgb(189, 73, 73);
}

.pDesc:hover {
  color: black;
}
