.card {
  border: 1px solid black;
  line-height: 0;
  list-style-type: none;
}

.card img {
  width: 100%;

  object-position: center;
  object-fit: cover;
}

.desc {
  cursor: pointer;
}

.desc:hover {
  color: rgb(189, 73, 73);
}
