@import '../../../styles/variables.scss';

.card {
  border: 1px solid $blackColor;
  box-shadow: 1px 2px;
  list-style-type: none;
}
.divImg {
  height: 450px;
  background-color: $mainColor;
  display: flex;
  align-items: center;
}
.img {
  width: 100%;
  object-position: center;
  object-fit: contain;
  width: calc(100% - 15px);
  padding: 6px;
  text-align: center;
}

.card a {
  text-decoration: none;
}

.card a:visited {
  color: $mainColor;
}

.card p,
.rating {
  text-align: center;
}

.pName {
  font-weight: bold;
}

.pDesc {
  cursor: pointer;
  color: $mainColor;
}

.pDesc:hover,
.card a:hover {
  color: $blackColor;
}

@media (max-width: 1339px) {
  .divImg {
    height: calc(450 / 310 * ((100vw - 100px) / 4));
  }
}

@media (max-width: $tablet) {
  .divImg {
    height: calc(450 / 310 * ((100vw - 75px) / 3));
  }
}
@media (max-width: $mobileL) {
  .divImg {
    height: calc(450 / 310 * ((100vw - 75px) / 2));
  }
}

@media (max-width: $mobile) {
  .divImg {
    height: calc(450 / 310 * (100vw - 50px));
  }
}
