$megamax: 2056px;
$laptop: 1024px;
$tablet: 768px;
$mobileL: 650px;
$mobile: 375px;

$mainColor: rgb(189, 73, 73);
$secColor: rgb(14, 132, 235);
$whiteColor: white;
$blackColor: black;
$azureColor: azure;
