.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(189, 73, 73);
  color: azure;
  margin: 0 20px;
  margin-top: 20px;
  border-radius: 2px;
  padding: 30px;
}

@media (max-width: 900px) {
  .header {
    flex-direction: column;
  }
}
