.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(3, 20, 93);
  color: azure;
  margin: 0 20px;
  margin-top: 20px;
  border-radius: 2px;
  padding: 30px;
}
