@import '../../styles/variables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: $mainColor;
  color: $azureColor;
  margin: 0 20px;
  margin-top: 20px;
  border-radius: 2px;
  padding: 30px;
}

@media (max-width: 900px) {
  .header {
    flex-direction: column;
  }
}
