@import '../../styles/variables.scss';

.footer {
  background-color: $mainColor;
  border-radius: 2px;
  color: $whiteColor;
  margin-top: 20px;
  padding: 30px;
}

.link {
  float: right;
  text-decoration: none;
  color: azure;
}
